body {
    line-height: 1;
	-webkit-text-size-adjust: none;
	height: 100%;
	max-width: 100%;
	background: linear-gradient(-45deg, #061161, #780206, #061161, #780206);
	background-size: 500% 500%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card {
	overflow: hidden;
}

#footer {
	color: rgba(255, 255, 255, 0.75);
	text-align: center;
	margin-top: 15px;
	margin-bottom: 13px;
}

#footer span {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1em;
}

.card-img-top {
	max-width: 100%;
	cursor: pointer;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-ms-transition: all 1s ease; /* IE 9 */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
}

.card-img-top:hover {
	-webkit-transform: scale(1.15); /* Safari and Chrome */
	-moz-transform: scale(1.15); /* Firefox */
	-ms-transform: scale(1.15); /* IE 9 */
	-o-transform: scale(1.15); /* Opera */
	 transform: scale(1.15);
}

@media screen and (max-width: 500px) 
{
	div.row {
		margin-left: -45px;
		margin-right: -50px;
	}
	h4.fas {
		margin-left: -30px;
		font-size: 12pt;
	}
	span.col-7 {
		margin-top: 30px;
		margin-left: -50px;
	}
}