@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");	
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body, div, span, ul, li, footer, header, section,div {
	margin: 0;
	padding: 0;
    border: 0;
	font: inherit;
	vertical-align: baseline;
}

footer, header {
    display: block;
}

body {
    line-height: 1;
	-webkit-text-size-adjust: none;
	height: 100%;
	max-width: 100%;
	background: linear-gradient(-45deg, #061161, #780206, #061161, #780206);
	background-size: 500% 500%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

ul {
    list-style: none;
}

html {
	height: 100%;
	box-sizing: border-box;
}

h1 {
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 30pt;
	text-transform: uppercase;
}

p {
	color: #414f57;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

*, *:before, *:after {
	box-sizing: inherit;
}

#main {
	padding: 3em 1.5em 3em 1.5em;
	background: #ffffff;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	max-width: 100%;
	position: relative;
	text-align: center;
	width: 32em;
}

#main .avatar {
	position: relative;
	display: block;
}

#main .avatar img {
	display: block;
	margin: 0 auto;
	border-radius: 100%;
}

button {
	background-color: #a81115;
    text-align: center;
	cursor: pointer;
	padding: 11px;
	margin: 10px 0 25px 10px;
	border: none;
	box-shadow: 0 9px #a3a3a3;
	border-radius: 5px;
	outline: none;
	color: #fff;
}

#btn:hover {
	background-color: #7d0c0f;
	transform: translateY(-3px);
	box-shadow: 0 12px #a3a3a3;
}

#btn:active {
	background-color: #7d0c0f;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#btn span {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
}

#footer {
	color: rgba(255, 255, 255, 0.75);
	text-align: center;
	margin-top: 20px;
}

#footer .copyright {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.2em;
}

.social-media .button {
	display: inline-block;
	height: 60px;
	width: 60px;
	margin: 0 10px;
	overflow: hidden;
	background: #fff;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	transition: all 0.3s ease-out;
}

.social-media .button .icon {
	display: inline-block;
	height: 60px;
	width: 60px;
	text-align: center;
	border-radius: 50px;
	box-sizing: border-box;
	transition: all 0.3s ease-out;
}

.social-media .button:nth-child(1):hover .icon {
	background: #1DA1F2;
}
.social-media .button:nth-child(2):hover .icon {
	background: linear-gradient(-45deg, #833ab4, #fd1d1d, #fcb045);
}
.social-media .button:nth-child(3):hover .icon {
	background: #4267B2;
}
.social-media .button:nth-child(4):hover .icon {
	background: #333;
}
.social-media .button:nth-child(5):hover .icon {
	background: #0e76a8;
}

.social-media .button .icon a {
	font-size: 25px;
	line-height: 60px;
	text-decoration: none;
	color: #000;
	transition: all 0.3s ease-out;
}

.social-media .button:hover .icon a {
	color: #fff;
}

#wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
	top: 45px;
	min-height: 93%;
	padding: 2em 1em 1em 1em;
}

@media screen and (max-width: 500px) 
{
	html, body {
		min-width: 350px;
	}
	body {
		font-size: 10pt;
		line-height: 1.75;
	}
	h1 {
		font-size: 1.65em;
	}
	#main {
		padding: 3em 2em 3em 2em;
		width: 100%;
	}
	#main .avatar:before {
		left: -2em;
		width: calc(100% + 4em);
	}
	#wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		position: relative;
		min-height: 100%;
		padding-bottom: 55px;
	}
}